/* styles.css */
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 800px;
  padding: 64px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

h1 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.08px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h2 {
  margin: 24px 0;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.24px;
}

h3 {

}

p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}

.product-wrapper {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 16px;
}

.product {
  display: flex;
  padding: 32px;
  padding-bottom: 60px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1.5px solid #f2f2f2;
  background: #fff;
  text-decoration: none;
  color: #000;
}

.product h3,
.product p {
  margin: 0;
}

.cta {
  border-radius: 16px;
  border: 1.5px solid #f2f2f2;
  padding: 8px 16px;
  margin: 32px 0;
  text-align: center;
}

@media (max-width: 750px) {
  .product-wrapper {
    flex-direction: column;
  }

  .product {
    padding: 32px;
  }

  .container {
    padding: 28px;
  }
}

.button {
  display: inline-block;
  padding: 10px 40px; 
  font-size: 20px; 
  font-weight: bold; 
  color: #fff;
  background: linear-gradient(to bottom, #000000, #1e3a8a); /* Gradient from purple to blue */
  text-align: center;
  text-decoration: none;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #6b21a8; /* Darker burple on hover */
}
